@model BierShop9.ViewModels.BreweryBeersVM

@{
    ViewData["Title"] = "GetBeersByBreweriesVM";
}

<h1>GetBeersByBreweriesVM</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetBeersByBreweriesVM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="BreweryNumber" asp-items="@Model.Breweries">
                    <option>---- Select a brewery ----</option>
                </select>

            </div>
        </form>
    </div>
</div>


@if (Model.Beers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    BrouwerNaam
                </th>
                <th>
                    SoortNaam
                </th>
                <th>
                    Alcohol
                </th>
                <th>
                    Image
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Beers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrouwerNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoortNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alcohol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#BreweryNumber").on("change", () => {
            $("form").trigger("submit");
        })
    </script>
}

