@model IEnumerable<BierShop9.ViewModels.BeersVM>

@{
    ViewData["Title"] = "ListAlcohol";
}

<h1>ListAlcohol</h1>

<form asp-action="Index" method="post">
    <div>
        <label>Alcoholpercentage</label>
        <input type="number" step="0.1" name="alcoholPercentage" class="form-control" style="width:100px;" />
        <button type="submit" class="btn btn-primary mt-2">Show Beers</button>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <table id="beers" class="display table mt-4">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.First().Naam)</th>
                <th>@Html.DisplayNameFor(m => m.First().BreweryName)</th>
                <th>@Html.DisplayNameFor(m => m.First().VarietyName)</th>
                <th>@Html.DisplayNameFor(m => m.First().Alcohol)</th>
                <th>@Html.DisplayNameFor(m => m.First().Image)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Naam</td>
                    <td>@item.BreweryName</td>
                    <td>@item.VarietyName</td>
                    <td>@item.Alcohol</td>
                    <td><img src="@item.Image" width="50" /></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<link rel="stylesheet"
      href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>

<script>
    new DataTable('#beers');
</script>
